/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style rules for body and images */
body {
  background-image: url('img/background.jpg');
  background-size: cover;        /* fills the whole screen */
  background-repeat: no-repeat;  /* prevents tiling */
  background-position: center;   /* centers the image */
  background-attachment: fixed;  /* <— makes it “stick” */
}

img {
  max-width: 100%;
  display: block;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;     
  min-height: 100vh;
}

.mainDiv {
    width: 70%;
    height: 90%;
}

main{
    background-color:rgba(195, 255, 240, 0.85);
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    border-radius: 10%;
    line-height: 1.8;
}

p{
    font-size: 2em;
}

header{
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 10%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    margin-right: 50%;
    margin-bottom: 10%;
    color: whitesmoke;
}

h2{
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 10%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    margin-right: 50%;
    margin-bottom: 10%;
    margin-top: 5%;
    color: whitesmoke;
    font-size: 2.5em;
}

h3{
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 10%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    margin-right: 50%;
    margin-bottom: 10%;
    margin-top: 5%;
    color: whitesmoke;
    text-align: center;
    font-size: 1.5em;
}

.title{
    font-size: 2.5em;
    font-weight: bolder;
}

.wrap {
  float: left;          
  margin-right: 15px;     
  margin-bottom: 10px;            
  border-radius: 8px;    
}

.clear{
    clear: both;
}

.keyword{
    font-style: italic;
}

ul.custom-list {
  list-style: none;
  font-size: 1.5em;
  padding-left: 1.5em;
}

ul.custom-list li::before{
    content:  "\1F4BE";
    margin-right: 0.5em;
}

dl {
  margin: 20px 0;
}

dt {
  font-weight: 600;
  padding: 4px 0;
  display: block;
  clear: both;
  font-size: 2em;
}

dd {
  margin-left: 0;
  padding: 4px 0 4px 12px;
  border-left: 3px solid #ddd;
  color: #444;
  display: block;
  clear: both;
  font-size: 1.5em;
}

video {
  float: right;
  margin: 0 15px 15px 0;
  max-width: 100%;
  height: auto;
}

button {
  padding: 10px 18px;
  background: rgba(50, 50, 50, 0.5);
  border: 2px solid #007bff;
  color: #007bff;
  background: #000;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.noStyle {
  text-decoration: none;
  color: inherit;
}

/* Form Style Rules*/
form {
  margin: 20px;
  padding: 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}

form input,
form select,
form textarea {
  padding: 10px 10px;
  border: 1px solid;
  border-radius: 8px;
  font-size: 1em;
}


form button {
  padding: 12px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
}

form button:hover {
  background: #3576c4;
}

form p {
  margin: 0;
  font-weight: bold;
}

/* Style rules for navigation area */
nav {
    background-color: #2a1f14;
    list-style: none;
    margin: 0;
    text-align: center;
    position: sticky;
    top: 0; 
    padding-bottom: 15px;
    width: 100%;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: lightcyan;
    padding: 0.5em 2em;
    text-decoration: none;
}


footer{
    text-align: center;
    font-size: .85em;
    background-color: #2a1f14;
    color: #f6eee4;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 30%;
    width: 100%;
}




/* Media Query for Tablet Viewport */


/* Tablet (768px – 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  nav a {
    margin: 5px 10px;
  }

  header{
    width: 80%;
  }

  h2{
    width: 80%;
  }
  
  h3{
    width: 80%;
  }

  iframe{
    height: inherit;
    width: inherit;
  }


}

/* Mobile (up to 767px) */
@media (max-width: 767px) {
  header, nav, main, footer {
    padding: 15px;
  }

  nav{
    font-size: .75em;
  }

  nav a {
    display: block;
    margin: 5px 0;
  }

  header{
    width: 100%;
  }

  footer{
    font-size: .4em;
  }

  h1{
    width: 100%;
  }

  h2{
    width: 100%;
  }

  iframe{
    height: inherit;
    width: inherit;
  }

}